In [18]:
# Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Importing Data
flights_data = pd.read_csv('flights.csv')
print(flights_data.head(10))
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

   Unnamed: 0  year  month  day  dep_time  dep_delay  arr_time  arr_delay  \
0           1  2013      1    1     517.0        2.0     830.0       11.0
1           2  2013      1    1     533.0        4.0     850.0       20.0
2           3  2013      1    1     542.0        2.0     923.0       33.0
3           4  2013      1    1     544.0       -1.0    1004.0      -18.0
4           5  2013      1    1     554.0       -6.0     812.0      -25.0
5           6  2013      1    1     554.0       -4.0     740.0       12.0
6           7  2013      1    1     555.0       -5.0     913.0       19.0
7           8  2013      1    1     557.0       -3.0     709.0      -14.0
8           9  2013      1    1     557.0       -3.0     838.0       -8.0
9          10  2013      1    1     558.0       -2.0     753.0        8.0

  carrier tailnum  flight origin dest  air_time  distance  hour  minute
0      UA  N14228    1545    EWR  IAH     227.0      1400   5.0    17.0
1      UA  N24211    1714    LGA  IAH     227.0      1416   5.0    33.0
2      AA  N619AA    1141    JFK  MIA     160.0      1089   5.0    42.0
3      B6  N804JB     725    JFK  BQN     183.0      1576   5.0    44.0
4      DL  N668DN     461    LGA  ATL     116.0       762   5.0    54.0
5      UA  N39463    1696    EWR  ORD     150.0       719   5.0    54.0
6      B6  N516JB     507    EWR  FLL     158.0      1065   5.0    55.0
7      EV  N829AS    5708    LGA  IAD      53.0       229   5.0    57.0
8      B6  N593JB      79    JFK  MCO     140.0       944   5.0    57.0
9      AA  N3ALAA     301    LGA  ORD     138.0       733   5.0    58.0

In [19]:
#Q1 How many flights were there from JFK to SLC? Int
q1 = flights_data[(flights_data['origin'] == 'JKF') & (flights_data['dest'] == 'SLC')].shape[0]
print(q1)

0

In [24]:
#Q2 How many airlines fly to SLC? Should be int
q2 = flights_data[flights_data['dest'] == 'SLC']['carrier'].nunique()
print(q2)

2

In [25]:
#Q3 What is the average arrival delay for flights to RDU? float
q3 = flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print(q3)

10.052380952380952

In [29]:
#Q4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
sea_flights_to_nyc = flights_data[(flights_data['dest'] == 'SEA') & (flights_data['origin'].isin(['LGA', 'JFK']))].shape[0]
total_flights = flights_data[flights_data['dest'] == 'SEA'].shape[0]
q4 = sea_flights_to_nyc/total_flights
print(q4)

0.5332653581442773

In [33]:
#Q5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

flights_data['date'] = pd.to_datetime(flights_data[['year','month','day']])
avg_delay_by_date = flights_data.groupby('date')['arr_delay'].mean()
max_avg_arrival_delay_date = avg_delay_by_date.idxmax()
max_avg_arrival_delay = avg_delay_by_date.max()

# Format date to "y/m/d"
formatted_date_q6 = max_avg_arrival_delay_date.strftime('%Y/%m/%d')
q6 = (formatted_date_q6, max_avg_arrival_delay)
print(q6)

('2013/03/08', np.float64(85.86215538847118))

In [34]:
# Q7 Which flight departing LGA or JFK in 2013 flew the fastest? (speed = distance / airtime)
flights_data['speed'] = flights_data['distance'] / flights_data['air_time']
fastest_flight = flights_data[(flights_data['origin'].isin(['LGA', 'JFK'])) & (flights_data['year'] == 2013)].sort_values(by='speed', ascending=False).iloc[0]
q7 = fastest_flight[['tailnum', 'speed']]
print(q7)

tailnum       N666DN
speed      11.723077
Name: 216447, dtype: object

In [45]:
# Q8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd.fillna(0, inplace=True)
q8 = weather_data_pd
print(q8)

      Unnamed: 0 origin  year  month   day  hour   temp   dewp  humid  \
0              1    EWR  2013    1.0   1.0   0.0  37.04  21.92  53.97
1              2    EWR  2013    1.0   1.0   1.0  37.04  21.92  53.97
2              3    EWR  2013    1.0   1.0   2.0  37.94  21.92  52.09
3              4    EWR  2013    1.0   1.0   3.0  37.94  23.00  54.51
4              5    EWR  2013    1.0   1.0   4.0  37.94  24.08  57.04
...          ...    ...   ...    ...   ...   ...    ...    ...    ...
8714        8715    JFK  2013    9.0   2.0  20.0  75.20  73.40  94.14
8715        8716    JFK  2013   10.0  23.0  10.0  48.92  39.02  68.51
8716        8717    JFK  2013   10.0  23.0  11.0  48.92  39.02  68.51
8717        8718    JFK  2013   12.0  17.0   5.0  26.96  10.94  50.34
8718        8719    LGA  2013    8.0  22.0  22.0  75.92  66.92  73.68

      wind_dir  wind_speed  wind_gust  precip  pressure  visib
0        230.0    10.35702  11.918651     0.0    1013.9   10.0
1        230.0    13.80936  15.891535     0.0    1013.0   10.0
2        230.0    12.65858  14.567241     0.0    1012.6   10.0
3        230.0    13.80936  15.891535     0.0    1012.7   10.0
4        240.0    14.96014  17.215830     0.0    1012.8   10.0
...        ...         ...        ...     ...       ...    ...
8714     200.0     4.60312   5.297178     0.0       0.0    4.0
8715      60.0     4.60312   5.297178     0.0    1008.1   10.0
8716      40.0     4.60312   5.297178     0.0    1008.5   10.0
8717      40.0     4.60312   5.297178     0.0    1023.9   10.0
8718     210.0     8.05546   9.270062     0.0    1011.9   10.0

[8719 rows x 15 columns]

In [60]:
# Q9 How many observations were made in Feburary? Int
february_data = weather_data_np[weather_data_np[:, 3] == 2] 
q9 = february_data.shape[0]
print(q9)

671

In [63]:
#Q10 What was the mean for humidity in February? Float

if february_data.size > 0:
    humidity_mean_february = february_data[:, 8].mean() 
else:
    humidity_mean_february = np.nan
q10 = humidity_mean_february
print(q10)

62.918152011922515

In [65]:
#11 What was the std for humidity in February? Float

if february_data.size > 0 and february_data[:, 8].size > 0:
    humidity_std_february = february_data[:, 8].std()
else:
    humidity_std_february = np.nan
q11 = humidity_std_february
print(q11)

20.33690087674334